@using TestWebApp.Controllers

@{
    ViewBag.Title = "Home Page";
}

@model FilesViewModel
 

<div class="jumbotron">
    <h2>Welcome from the web server on @Environment.MachineName</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Via symlink</h2>
        @{
            foreach (var file in @Model.ViaSymlink)
            {
                <div>@Html.ActionLink(file.Name, "GetFileViaSymLink", "FilesAccess", new { name = file.Name }, null)</div>
            }

            <div>@ViewBag.Message2</div>
        }
    </div>
    <div class="col-md-4">
        <h2>Via API</h2>
        @{
            foreach (var file in @Model.ViaAPI)
            {
                <div>@Html.ActionLink(file.Name, "GetFile", "FilesAccess", new { name = file.Name }, null)</div>
            }

            <div>@ViewBag.Message1</div>
        }

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("UploadFile", "FilesAccess", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            @Html.CheckBox("useAPI", false)&nbsp;Use API<br/>

            @Html.ActionLink("Upload", "UploadFile", "FilesAccess", null, new { id = "uploadButton", @class = "btn btn-default", onclick = "return false;" })

            @ViewBag.Message

        </div>
        }
    </div>
</div>
<br/>

<script type="text/javascript">
    $(document).ready(function () {
        $('#uploadButton').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
</script>
