@using TestWebApp.Controllers

@{
    ViewBag.Title = "Home Page";
}

@model FileViewModel[]


<div class="jumbotron">
    <h2>Welcome from the web server on @Environment.MachineName</h2>
</div>

<div class="row">
    <div class="col-md-4">
        @{
            foreach (var file in @Model)
            {
                <div>@Html.ActionLink(file.Name, "GetFileViaSymLink", "Files", new { name = file.Name }, null)</div>
            }

                <div>@ViewBag.FileMessage</div>
        }
    </div>
    <div class="col-md-4">
        <div>@ViewBag.ExceptionMessage</div>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("UploadFile", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />

                @Html.ActionLink("Upload", "UploadFile", "Files", null, new { id = "uploadButton", @class = "btn btn-default", onclick = "return false;" })

                @ViewBag.Message

            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#uploadButton').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
</script>
